@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

*,
html,
body {
  font-family: "Nunito sans", sans-serif;
}
header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.top {
  display: flex;
  align-items: center;
  background-color: black;
  position: relative;
}
.top .top-left {
  margin-left: 10px;
  color: #f2f2f2;
}
.top-left p {
  display: block;
  padding-left: 100px;
}
.top .top-right {
  position: absolute;
  top: 1;
  right: 0;
}
.top-right a {
  text-decoration: none;
  color: #f2f2f2;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #fefefe;
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar img {
  max-width: 100%;
  padding-left: 100px;
}
.navbar .links {
  margin: auto;
  position: absolute;
  margin-left: 400px;
}
.links a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: #050505;
  font-size: 18px;
  margin: 40px;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fadada;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
.icons {
  display: flex;
  position: absolute;
  padding-left: 1200px;
  top: 80px;
}
.icons img {
  margin: 10px;
}
.home {
  display: block;
}
.home .home-first {
  display: block;
}
.home-first img {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  padding-top: 100px;
}
.home-first-content {
  display: block;
  position: absolute;
}
